<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of dishes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin  - Dashboard</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="/products">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Product</span></a>
        </li>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="/categories">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Category</span></a>
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle"  href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </nav>

<!--            <div class="container">-->
                <h4 class="text-center">Sản Phẩm <br /><a class="nav-link" href=/products/add>Add</a></h4>
                <table class="table">
                    <tr class="text-lg-left">
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.title}"></td>
                        <td th:text="${product.author}"></td>
                        <td th:text="${product.description}"></td>
                        <td> <img height="120" th:src="@{/images/} + ${product.image}" width="150"/></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.category.name}"></td><td>
                        <a th:href="@{/products/edit/{id} (id=${product.id})}">Edit</a> |
                        <a th:href="@{/products/delete/{id} (id=${product.id})}"
                           onclick="return confirm ('Are you sure?')">Delete</a>
                        <form th:action="@{/products/add-to-cart}" method="post" class="d-inline">
                            <input type="hidden" name="id" th:value="${product.getId()}">
                            <input type="hidden" name="title"th:value="${product.getTitle()}">
                            <input type="hidden" name="price"
                                   th:value="${product.getPrice()}">
                            <button type="submit" class="btn btn-success"
                                    onclick="return confirm('Are you sure you want to add this book to cart?')">
                                Add to cart</button>
                        </form>
                    </td>

                    </tr>
                </table>
<!--            </div>-->
        </div>
        <div class="pagination ">
            <ul class="pagination text-center align-items-center">
                <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
                    <a class="page-link" th:href="@{/products(page=0)}">First</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, totalPages-1)}"
                    class="page-item"
                    th:classappend="${pageNumber == currentPage} ? active">
                    <a class="page-link" th:href="@{/products(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? disabled">
                    <a class="page-link" th:href="@{/products(page=${totalPages - 1})}">Last</a>
                </li>

            </ul>
        </div>

    </div>

</div>



<th:block th:replace="layout :: footer"></th:block>
</body>
</html>