<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<section class="vh-100" style="background-color: #f4b619;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white text-center mb-4">Register</h1>

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form th:action="@{/register}" th:object="${user}" method="post">
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Full name</h6>

                            </div>
                            <div class="col-md-9 pe-5">
                                <input type="text" class="form-control" th:field="*{name}" id="name">
                                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="name"></span>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Email address</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="email" class="form-control" th:field="*{email}" id="email">
                                <span class="text-danger" th:if="${#fields.hasErrors ('email')}" th:errors="email"></span>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">User name</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control" id="username" th:field="*{username}">
                                <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="username"> </span>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0">Password</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="password" class="form-control" th:field="*{password}" id="password">
                                <span class="text-danger" th:if="${#fields.hasErrors ('password')}" th:errors="password"></span>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="px-5 py-4 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--<th:block th:replace="~{layout :: footer}"></th:block>-->
</body>
</html>