<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Foody</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin  - Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- JavaScript -->


</head>
<body id="page-top">
<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-warning bg-warning" style="background-color: #fd7e14;">
        <div class="container-fluid">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Foody-Logo.svg/1200px-Foody-Logo.svg.png"
                            height="50"
                            alt="Logo"
                            loading="lazy"
                    />
                </a>
                <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                    <li class="nav-item text-left mx-2 mx-lg-1">
                        <a class="nav-link active" aria-current="page" href="/">
                            <div>
                                <i class="fas fa-home fa-lg mb-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a class="nav-link active" aria-current="page" href="/about">
                            <div>
                                <i class="fas fa-info-circle fa-lg mb-1"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a class="nav-link active" aria-current="page" href="/contact">
                            <div>
                                <i class="fas fa-file-contract fa-lg mb-1"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                <div>
                    <form class="d-flex input-group w-auto" th:action="@{/search}">
                        <input
                                type="text" name="keyword"
                                id="keyword" size="50"
                                th:value="${keyword}"
                                class="form-control rounded"
                        />
                        <button class="input-group-text border-0" type="submit" value="Search" >
                            <i class="fas fa-search"> </i>
                            </button>
                    </form>
                </div>

            </div>

            <div class="d-flex px-3">
                <!-- Icon -->
                <a class="text-reset me-3" href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <i class="bi bi-cart4"></i>
                </a>
            </div>
            <div>

                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn btn-danger" type="submit">Logout</button>
                    </form>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-primary" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="banner">
        <img  th:src="@{/images/banner.png}" width="100%" height="300">
    </div>
</header>
    <footer class="text-center text-white" style="background-color: #fd7e14;">
        <div class="container">
            <section class="mt-5">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">About us</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Products</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Awards</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Help</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Contact</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-5" />
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            distinctio earum repellat quaerat voluptatibus placeat nam,
                            commodi optio pariatur est quia magnam eum harum corrupti
                            dicta, aliquam sequi voluptate quas.
                        </p>
                    </div>
                </div>
            </section>
            <section class="text-center mb-5">
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
        <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
        >
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"
            >MDBootstrap.com</a
            >
        </div>
    </footer>
<div th:insert="~{::${content}}">
</div>
<footer th:fragment="footer">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</footer>

</body>
</html>